.team-submit-form{
  font-family:  'Press Start 2P', cursive;

  // button {
  //   background-color: rgb(240,0,0);
  //   border: .1rem solid black;
  //   color: white;
  //   :hover {
  //     background-color: blanchedalmond;
  //     color: black;
  //   }
  // }
}

.btn-submit {
  background-color: rgb(240,0,0);
  border: .1rem solid black;
  color: white;
}
.btn-submit:hover {
      background-color: black;
      color: white;
}