@font-face {
  font-family: "Pokemon-Hollow", sans-serif;
  src: url("./fonts/Pokemon-Hollow.ttf") format("truefont");
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .75rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}